{% extends 'base.html' %}
{% load  static %}



{% block content %}
    {% if product_list %}
    <!--SE MUESTRA TODOS LOS PRODUCTOS-->
        <div class="row">
            <!-- INFORMACION DE CABECERA-->
            <div class="col-12" style="margin-top: 3rem; ">
                {% include 'products/snippets/breadcrumb.html' %}
            </div>
            <div class="col-12">
                <h2 style="text-align: center; font-size: 4rem;">PRODUCTOS</h2>
            </div>
            <div class="col-12">
                <p style="color: gray; text-align: center; font-size: 0.9rem;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus iure, 
                    corporis cumque itaque minima corrupti rem saepe mollitia labore neque minus omnis 
                    porro blanditiis reprehenderit cupiditate ipsa voluptatibus dicta vero?
                </p>
            </div>
            
        </div>
        
        <div class="row" style="margin-top: 5rem;">
            <!--Listado de productos-->
            {% if category_list%}
            <div  class="col-2 col-sm-2" >
                <!--Mostrando categorias-->
                {%include 'products/snippets/navbar.html'%}
            </div>
            {%endif%}
            <div {% if category_list %} class="col-9 col-sm-9" style="margin-left: 5rem;" {% else %} class="col-12" {% endif %} >
                <!--INFORMACION-->
                <div class="row" style="background-color: rgb(236, 236, 236); border-radius: 0.5rem;">
                    <div class="col">
                        <p>Cantidad de productos <span>{{count}} </span></p>
                    </div>

                </div>
                <div class="row">
                    <!--MOSTRANDO LOS PRODUCTOS-->
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for producto in product_list %}
                            <div class="col">
                                <div class="card h-100">
                                    <a href="{% url 'products:ProductoDetalle' producto.slug producto.id%}">
                                        <img src="{{ producto.get_image }}" class="card-img-top" alt="...">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ producto.title }}</h5>
                                        <p class="card-text">{{ producto.description }}</p>
                                        <p class="card-text">
                                            <small class="text-muted">{{producto.get_price}}</small>
                                        </p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <div class="col" style="font-size: 0.2rem;">
                                            <a class="btn btn-outline-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg> Agregar
                                            </a>
                                            <a class="btn btn-dark"  href="{% url 'products:ProductoDetalle' producto.slug producto.id%}" >
                                                <div style="display: flex; justify-content: center; align-items: center; width:  5rem;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                    </svg> Ver

                                                </div>
                                                
                                            </a>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}
                        
                       
                        
                        
                      </div>


                </div>
            </div>

        </div>
        <div class="row" style="margin-top: 3rem;">
            {% include 'products/snippets/paginator.html' %}


        </div>
        
        
    {% else %}
    <!-- SE DEBE DE MOSTRAR QUE NO HAY NINGUN PRODUCTO REGISTRADO-->
    {% endif%}



{% endblock%}
