{% if favorito_list %}
<input type="hidden" name="product_id" value="{{product.id}}">
<input type="hidden" name="product_slug" value="{{product.slug}}">

    {% for fav in favorito_list %}
        
        <a class="btn btn-outline-dark" style="font-size: 0.8rem; height: 3.5rem; text-decoration: none; color:#000000; cursor: pointer; text-align: center;" href="{%url 'favorite:delete' product.slug product.id fav.id%}" >
            <div style="margin-top: 0.6rem;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
                Eliminar de mis favoritos

            </div>
        </a>
    {% endfor %}
{% else %}
    <h3>NO HAY FAVORITOS</h3>
    <a href="{% url 'favorite:add'%}">AGREGAR</a>
    
{% endif %}