{% if favorito_list %}
<input type="hidden" name="product_id" value="{{product.id}}">
<input type="hidden" name="product_slug" value="{{product.slug}}">

    {% for fav in favorito_list %}
        
        <a class="btn btn-outline-secondary" href="{%url 'favorite:delete' product.slug product.id fav.id%}" style="text-decoration: none; color:#566573; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            REMOVE 
        </a>
    {% endfor %}
{% else %}
    <h3>NO HAY FAVORITOS</h3>
    <a href="{% url 'favorite:add'%}">AGREGAR</a>
    
{% endif %}